
/****ESTILO PARA PRODUCTOS******/
.cardContainer{
  flex-wrap: wrap;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  margin: 0.3rem;
  border-radius: 5%;
  box-shadow: 0 0 0.2rem  rgb(124, 122, 131);
  align-items: center;
}

.products-container{
    margin: 3rem;
    
  }
  
  .cardImage {
    width: 100%;
    height: auto;
  }
  
  .cardContent {
    padding: 10px;
  }
  
  /* Estilos responsivos*/
   @media (max-width: 768px) {
    .products-container {
      justify-content: flex-start;
    }
  
    .card {
      width: 100%;
    }
  }

  .cardButton{
    background-color: rgb(66, 69, 69);
  } 