/****ESTILO PARA PRODUCTOS******/
 .cardContainer{
  flex-wrap: wrap;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  background-color: rgb(42, 46, 45);
  margin: 0.3rem;
  border-radius: 5%;
  box-shadow: 0 0 0.2rem  rgb(124, 122, 131);
  align-items: center;
}

.products-container{
    margin: 3rem;
    
  }
  
  /* .cardImage {
    width: 100%;
    height: auto;
  } */
  
  .cardContent {
    padding: 10px;
  }
  
  /* Estilos responsivos*/
   @media (max-width: 768px) {
    .products-container {
      justify-content: flex-start;
    }
  
    .card {
      width: 100%;
    }
  }

.cardName{
  color: rgb(18, 61, 104);
  font-family: monospace;
}

.cartButtonContainer{
  border: none;
  background-color: transparent;
}

.cardCategory,
.cardDescription,
.cardPrice,
.cardStock{
  color: white;
  font-family: monospace;
}

.cardButton{
  margin: 0.5rem;
  padding: 0.3rem;
  background-color: rgb(97, 98, 103);
  border: none;
  transition: 0.3s ease-in-out;
  color: antiquewhite;
  font-family: monospace;
  border-radius: 10% 10% 10% 10%;
}
.cardButton:hover{
  background-color: rgb(35, 37, 66);
}