input {
  margin: 1rem;
  width: 80%;
  background-color: #212121;
  /*max-width: 190px;*/
  height: 40px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
}

input:focus {
  color: rgb(235, 242, 242);
  background-color: #212121;
  outline-color: rgb(71, 129, 129);
  box-shadow: -3px -3px 15px rgb(0, 255, 255);
  transition: .1s;
  transition-property: box-shadow;
}

name {
  color: white;
}